In [4]:
import pandas as pd

In [3]:
avocados = pd.read_csv('DataSets/avocado.csv')
avocados.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [8]:

# How to know the unique values into the data set

avocados['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [13]:


# Limitin the large of dataset to only few entries. 

avocados_totalUS = avocados[(avocados['region'] == 'TotalUS') & 
                            (avocados['Date'] > '2018-01-01')]
avocados_totalUS

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
9090,0,2018-03-25,1.03,43409835.75,14130799.10,12125711.42,758801.12,16394524.11,12540327.19,3544729.39,309467.53,conventional,2018,TotalUS
9091,1,2018-03-18,1.05,41386314.12,13707389.51,11061051.69,645380.85,15972492.07,11712807.19,3988101.74,271583.14,conventional,2018,TotalUS
9092,2,2018-03-11,1.09,40449603.12,14089091.05,10758039.45,707578.82,14894893.80,11392828.89,3229556.62,272508.29,conventional,2018,TotalUS
9093,3,2018-03-04,1.07,40741214.05,14439547.46,11289307.37,571747.72,14440611.50,10832907.44,3339214.96,268489.10,conventional,2018,TotalUS
9094,4,2018-02-25,1.06,40021528.76,13829857.87,10415463.59,724330.16,15051877.14,10666942.78,4081397.72,303536.64,conventional,2018,TotalUS
9095,5,2018-02-18,1.08,36709887.49,13262751.42,10491918.44,552969.73,12402247.90,9023351.68,3151157.42,227738.80,conventional,2018,TotalUS
9096,6,2018-02-11,0.97,43167806.09,15870677.70,11541844.87,652856.58,15102426.94,10844852.22,4023485.04,234089.68,conventional,2018,TotalUS
9097,7,2018-02-04,0.87,62505646.52,21620180.90,20445501.03,1066830.22,19373134.37,13384586.80,5719096.61,269450.96,conventional,2018,TotalUS
9098,8,2018-01-28,1.09,40171640.84,14551799.50,12119884.61,575974.74,12923981.99,9749412.19,3041125.42,133444.38,conventional,2018,TotalUS
9099,9,2018-01-21,1.08,42939821.55,14218843.83,13929702.12,928815.12,13862460.48,9866218.28,3789722.90,206519.30,conventional,2018,TotalUS
9100,10,2018-01-14,1.20,37299945.22,12600918.24,11866197.84,652808.40,12180020.74,8128241.88,3917569.95,134208.91,conventional,2018,TotalUS
9101,11,2018-01-07,1.13,36703156.72,13730992.75,10781339.21,677714.86,11513109.90,8231766.23,3130919.10,150424.57,conventional,2018,TotalUS
18213,0,2018-03-25,1.55,1559967.20,121007.94,342853.10,1070.24,1093861.09,902774.79,190941.84,144.46,organic,2018,TotalUS
18214,1,2018-03-18,1.54,1675804.22,170801.85,444949.69,1045.38,1058651.50,837351.85,221129.46,170.19,organic,2018,TotalUS
18215,2,2018-03-11,1.52,1664234.88,129169.72,408763.50,1401.87,1124621.50,944572.50,180049.00,0.00,organic,2018,TotalUS
18216,3,2018-03-04,1.52,1634430.77,142345.03,390129.50,1225.97,1099871.68,831885.50,267818.31,167.87,organic,2018,TotalUS
18217,4,2018-02-25,1.57,1459852.55,122912.97,340374.83,1063.32,994471.50,765056.82,229158.56,256.12,organic,2018,TotalUS
18218,5,2018-02-18,1.52,1814929.97,246515.35,680037.45,1905.46,886241.96,783017.98,103184.01,39.97,organic,2018,TotalUS
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS

In [20]:
# Sort the data

avocados_totalUS.sort_values(['Date'])

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
9101,11,2018-01-07,1.13,36703156.72,13730992.75,10781339.21,677714.86,11513109.90,8231766.23,3130919.10,150424.57,conventional,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
9100,10,2018-01-14,1.20,37299945.22,12600918.24,11866197.84,652808.40,12180020.74,8128241.88,3917569.95,134208.91,conventional,2018,TotalUS
9099,9,2018-01-21,1.08,42939821.55,14218843.83,13929702.12,928815.12,13862460.48,9866218.28,3789722.90,206519.30,conventional,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
9098,8,2018-01-28,1.09,40171640.84,14551799.50,12119884.61,575974.74,12923981.99,9749412.19,3041125.42,133444.38,conventional,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
9097,7,2018-02-04,0.87,62505646.52,21620180.90,20445501.03,1066830.22,19373134.37,13384586.80,5719096.61,269450.96,conventional,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
9096,6,2018-02-11,0.97,43167806.09,15870677.70,11541844.87,652856.58,15102426.94,10844852.22,4023485.04,234089.68,conventional,2018,TotalUS
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18218,5,2018-02-18,1.52,1814929.97,246515.35,680037.45,1905.46,886241.96,783017.98,103184.01,39.97,organic,2018,TotalUS
9095,5,2018-02-18,1.08,36709887.49,13262751.42,10491918.44,552969.73,12402247.90,9023351.68,3151157.42,227738.80,conventional,2018,TotalUS
9094,4,2018-02-25,1.06,40021528.76,13829857.87,10415463.59,724330.16,15051877.14,10666942.78,4081397.72,303536.64,conventional,2018,TotalUS
18217,4,2018-02-25,1.57,1459852.55,122912.97,340374.83,1063.32,994471.50,765056.82,229158.56,256.12,organic,2018,TotalUS
9093,3,2018-03-04,1.07,40741214.05,14439547.46,11289307.37,571747.72,14440611.50,10832907.44,3339214.96,268489.10,conventional,2018,TotalUS
18216,3,2018-03-04,1.52,1634430.77,142345.03,390129.50,1225.97,1099871.68,831885.50,267818.31,167.87,organic,2018,TotalUS
18215,2,2018-03-11,1.52,1664234.88,129169.72,408763.50,1401.87,1124621.50,944572.50,180049.00,0.00,organic,2018,TotalUS
9092,2,2018-03-11,1.09,40449603.12,14089091.05,10758039.45,707578.82,14894893.80,11392828.89,3229556.62,272508.29,conventional,2018,TotalUS
9091,1,2018-03-18,1.05,41386314.12,13707389.51,11061051.69,645380.85,15972492.07,11712807.19,3988101.74,271583.14,conventional,2018,TotalUS
18214,1,2018-03-18,1.54,1675804.22,170801.85,444949.69,1045.38,1058651.50,837351.85,221129.46,170.19,organic,2018,TotalUS
18213,0,2018-03-25,1.55,1559967.20,121007.94,342853.10,1070.24,1093861.09,902774.79,190941.84,144.46,organic,2018,TotalUS
9090,0,2018-03-25,1.03,43409835.75,14130799.10,12125711.42,758801.12,16394524.11,12540327.19,3544729.39,309467.53,conventional,2018,TotalUS

In [27]:

# CReating a Pivot Table for better analysis and better view of the data. 


avocados_pivot = avocados_totalUS.pivot(index = 'Date', # this will be the rows unique
                                        columns = 'type',  # will show the values of the variable as columns
                                        values = 'AveragePrice') # will fill the table with those values. 

avocados_pivot


'''The convination of Index and Colums must be unique to generate a pivot table. '''

type        conventional  organic
Date
2018-01-07          1.13     1.51
2018-01-14          1.20     1.59
2018-01-21          1.08     1.63
2018-01-28          1.09     1.61
2018-02-04          0.87     1.53
2018-02-11          0.97     1.56
2018-02-18          1.08     1.52
2018-02-25          1.06     1.57
2018-03-04          1.07     1.52
2018-03-11          1.09     1.52
2018-03-18          1.05     1.54
2018-03-25          1.03     1.55