In [1]:
import pandas as pd

In [3]:
# Here we are importing the data set and playing with the multi-indexing
# We are selecting as index the region and the date. 


avocados = pd.read_csv('DataSets/avocado.csv',
                      index_col = ['region','Date'])

avocados= avocados.sort_index()

avocados

                             Unnamed: 0  AveragePrice  Total Volume  \
region           Date
Albany           2015-01-04          51          1.22      40873.28
                 2015-01-04          51          1.79       1373.95
                 2015-01-11          50          1.24      41195.08
                 2015-01-11          50          1.77       1182.56
                 2015-01-18          49          1.17      44511.28
                 2015-01-18          49          1.93       1118.47
                 2015-01-25          48          1.06      45147.50
                 2015-01-25          48          1.89       1115.89
                 2015-02-01          47          0.99      70873.60
                 2015-02-01          47          1.83       1228.51
                 2015-02-08          46          0.99      51253.97
                 2015-02-08          46          1.59       1770.87
                 2015-02-15          45          1.06      41567.62
                 2015-02-15          45          1.81       1182.30
                 2015-02-22          44          1.07      45675.05
                 2015-02-22          44          1.82       1152.33
                 2015-03-01          43          0.99      55595.74
                 2015-03-01          43          1.76       1663.35
                 2015-03-08          42          1.07      40507.36
                 2015-03-08          42          1.79       1626.32
                 2015-03-15          41          1.11      43045.79
                 2015-03-15          41          1.79       1473.56
                 2015-03-22          40          1.12      46346.85
                 2015-03-22          40          1.86       1375.02
                 2015-03-29          39          1.02      67799.08
                 2015-03-29          39          1.93       1082.44
                 2015-04-05          38          1.16      47362.13
                 2015-04-05          38          1.93       1526.10
                 2015-04-12          37          1.13      48364.29
                 2015-04-12          37          1.76       1634.59
...                                 ...           ...           ...
WestTexNewMexico 2017-12-17           2          0.85     754023.66
                 2017-12-17           2          1.78      15409.21
                 2017-12-24           1          0.93     769970.84
                 2017-12-24           1          1.85      16740.76
                 2017-12-31           0          0.89     727024.03
                 2017-12-31           0          1.62      16552.71
                 2018-01-07          11          0.88     880266.52
                 2018-01-07          11          1.62      17489.58
                 2018-01-14          10          0.90     950954.60
                 2018-01-14          10          1.93      16205.22
                 2018-01-21           9          0.84    1020913.20
                 2018-01-21           9          1.87      13766.76
                 2018-01-28           8          0.85     957086.16
                 2018-01-28           8          1.71      13888.04
                 2018-02-04           7          0.76    1272039.80
                 2018-02-04           7          1.63      17074.83
                 2018-02-11           6          0.75    1071952.06
                 2018-02-11           6          1.57      15986.17
                 2018-02-18           5          0.89     896808.98
                 2018-02-18           5          1.56      17597.12
                 2018-02-25           4          0.88     895671.55
                 2018-02-25           4          1.57      18421.24
                 2018-03-04           3          0.88     935934.10
                 2018-03-04           3          1.54      17393.30
                 2018-03-11           2          0.94     897607.12
                 2018-03-11           2          1.56      22128.42
                 2018-03-18           1          0.88     855251.17
                 2018-03-18           1          1.56      15896.38
                 2018-03-25           0          0.84     965185.06
                 2018-03-25           0          1.62      15303.40

                                  4046       4225      4770  Total Bags  \
region           Date
Albany           2015-01-04    2819.50   28287.42     49.90     9716.46
                 2015-01-04      57.42     153.88      0.00     1162.65
                 2015-01-11    1002.85   31640.34    127.12     8424.77
                 2015-01-11      39.00     305.12      0.00      838.44
                 2015-01-18     914.14   31540.32    135.77    11921.05
                 2015-01-18       8.02     178.78      0.00      931.67
                 2015-01-25     941.38   33196.16    164.14    10845.82
                 2015-01-25      14.87     148.72      0.00      952.30
                 2015-02-01    1353.90   60017.20    179.32     9323.18
                 2015-02-01      33.12      99.36      0.00     1096.03
                 2015-02-08    1357.37   39111.81    163.25    10621.54
                 2015-02-08      27.36     152.74      0.00     1590.77
                 2015-02-15     986.66   30045.51    222.42    10313.03
                 2015-02-15      22.74      83.02      0.00     1076.54
                 2015-02-22    1088.38   35056.13    151.00     9379.54
                 2015-02-22      11.34      31.76      0.00     1109.23
                 2015-03-01     629.46   45633.34    181.49     9151.45
                 2015-03-01      32.82     105.25      0.00     1525.28
                 2015-03-08     795.68   30370.64    159.05     9181.99
                 2015-03-08      49.73     331.14      0.00     1245.45
                 2015-03-15    2128.26   30447.17     99.67    10370.69
                 2015-03-15      19.18     164.73      0.00     1289.65
                 2015-03-22    2141.83   34313.56    141.80     9749.66
                 2015-03-22      40.57     326.78      0.00     1007.67
                 2015-03-29    1402.28   58623.22     89.50     7684.08
                 2015-03-29      24.75     173.26      0.00      884.43
                 2015-04-05     961.77   35577.66     93.76    10728.94
                 2015-04-05      15.75     202.52      0.00     1307.83
                 2015-04-12     864.27   30374.15     21.50    17104.37
                 2015-04-12      51.75      93.38      0.00     1489.46
...                                ...        ...       ...         ...
WestTexNewMexico 2017-12-17  390096.35  161122.14   6208.15   196597.02
                 2017-12-17    1314.05    2079.36      0.00    12015.80
                 2017-12-24  402476.91  150206.86   7966.08   209320.99
                 2017-12-24    1904.47    2246.26      0.00    12590.03
                 2017-12-31  347248.16  158559.97   5628.28   215587.62
                 2017-12-31    1909.33    3538.48     60.91    11043.99
                 2018-01-07  436282.38  178669.53   9467.11   255847.50
                 2018-01-07    2894.77    2356.13    224.53    12014.15
                 2018-01-14  463945.73  188126.02  11227.47   287655.38
                 2018-01-14    1527.63    2981.04    727.01    10969.54
                 2018-01-21  505263.29  177911.40   9468.95   328269.56
                 2018-01-21    1191.92    2452.79    727.94     9394.11
                 2018-01-28  479147.93  179489.19   7314.98   291134.06
                 2018-01-28    1191.70    3431.50      0.00     9264.84
                 2018-02-04  531469.08  368948.26  13078.20   358544.26
                 2018-02-04    2046.96    1529.20      0.00    13498.67
                 2018-02-11  544075.54  189862.10   7194.15   330820.27
                 2018-02-11    1924.28    1368.32      0.00    12693.57
                 2018-02-18  421321.21  191798.82  10065.33   273623.62
                 2018-02-18    1892.05    1928.36      0.00    13776.71
                 2018-02-25  431217.01  171532.79  10590.75   282331.00
                 2018-02-25    1974.26    2482.65      0.00    13964.33
                 2018-03-04  454269.43  164856.57   9907.85   306900.25
                 2018-03-04    1832.24    1905.57      0.00    13655.49
                 2018-03-11  467501.55  154130.63  11380.26   264594.68
                 2018-03-11    2162.67    3194.25      8.93    16762.57
                 2018-03-18  457635.79  137597.04   8422.08   251596.26
                 2018-03-18    2055.35    1499.55      0.00    12341.48
                 2018-03-25  438526.12  199585.90  11017.42   316055.62
                 2018-03-25    2325.30    2171.66      0.00    10806.44

                             Small Bags  Large Bags  XLarge Bags  \
region           Date
Albany           2015-01-04     9186.93      529.53         0.00
                 2015-01-04     1162.65        0.00         0.00
                 2015-01-11     8036.04      388.73         0.00
                 2015-01-11      838.44        0.00         0.00
                 2015-01-18    11651.09      269.96         0.00
                 2015-01-18      931.67        0.00         0.00
                 2015-01-25    10103.35      742.47         0.00
                 2015-01-25      952.30        0.00         0.00
                 2015-02-01     9170.82      152.36         0.00
                 2015-02-01     1096.03        0.00         0.00
                 2015-02-08    10113.10      508.44         0.00
                 2015-02-08     1590.77        0.00         0.00
                 2015-02-15     9979.87      333.16         0.00
                 2015-02-15     1076.54        0.00         0.00
                 2015-02-22     9000.16      379.38         0.00
                 2015-02-22     1109.23        0.00         0.00
                 2015-03-01     8986.06      165.39         0.00
                 2015-03-01     1525.28        0.00         0.00
                 2015-03-08     8827.55      354.44         0.00
                 2015-03-08     1245.45        0.00         0.00
                 2015-03-15     9989.59      381.10         0.00
                 2015-03-15     1289.65        0.00         0.00
                 2015-03-22     9252.60      497.06         0.00
                 2015-03-22     1007.67        0.00         0.00
                 2015-03-29     7208.49      475.59         0.00
                 2015-03-29      884.43        0.00         0.00
                 2015-04-05     9869.16      755.61       104.17
                 2015-04-05     1307.83        0.00         0.00
                 2015-04-12    16438.49      665.88         0.00
                 2015-04-12     1489.46        0.00         0.00
...                                 ...         ...          ...
WestTexNewMexico 2017-12-17    94766.70   101820.32        10.00
                 2017-12-17    11964.20       51.60         0.00
                 2017-12-24    96489.71   112764.62        66.66
                 2017-12-24    12235.55      354.48         0.00
                 2017-12-31    78402.09   137088.87        96.66
                 2017-12-31    10821.63      222.36         0.00
                 2018-01-07    99686.92   155870.58       290.00
                 2018-01-07    11988.14       26.01         0.00
                 2018-01-14   125408.69   162040.02       206.67
                 2018-01-14    10919.54       50.00         0.00
                 2018-01-21   118978.50   209131.06       160.00
                 2018-01-21     9351.80       42.31         0.00
                 2018-01-28   143430.96   147376.43       326.67
                 2018-01-28     8940.04      324.80         0.00
                 2018-02-04   127833.03   229786.03       925.20
                 2018-02-04    13066.82      431.85         0.00
                 2018-02-11   113338.76   215753.74      1727.77
                 2018-02-11    12437.35      256.22         0.00
                 2018-02-18   130348.75   140202.81      3072.06
                 2018-02-18    13553.53      223.18         0.00
                 2018-02-25   125973.31   147040.26      9317.43
                 2018-02-25    13698.27      266.06         0.00
                 2018-03-04   164965.35   138399.68      3535.22
                 2018-03-04    13401.93      253.56         0.00
                 2018-03-11   152380.60   110322.16      1891.92
                 2018-03-11    16510.32      252.25         0.00
                 2018-03-18   151191.85    98535.60      1868.81
                 2018-03-18    12114.81      226.67         0.00
                 2018-03-25   153009.89   160999.10      2046.63
                 2018-03-25    10569.80      236.64         0.00

                                     type  year
region           Date
Albany           2015-01-04  conventional  2015
                 2015-01-04       organic  2015
                 2015-01-11  conventional  2015
                 2015-01-11       organic  2015
                 2015-01-18  conventional  2015
                 2015-01-18       organic  2015
                 2015-01-25  conventional  2015
                 2015-01-25       organic  2015
                 2015-02-01  conventional  2015
                 2015-02-01       organic  2015
                 2015-02-08  conventional  2015
                 2015-02-08       organic  2015
                 2015-02-15  conventional  2015
                 2015-02-15       organic  2015
                 2015-02-22  conventional  2015
                 2015-02-22       organic  2015
                 2015-03-01  conventional  2015
                 2015-03-01       organic  2015
                 2015-03-08  conventional  2015
                 2015-03-08       organic  2015
                 2015-03-15  conventional  2015
                 2015-03-15       organic  2015
                 2015-03-22  conventional  2015
                 2015-03-22       organic  2015
                 2015-03-29  conventional  2015
                 2015-03-29       organic  2015
                 2015-04-05  conventional  2015
                 2015-04-05       organic  2015
                 2015-04-12  conventional  2015
                 2015-04-12       organic  2015
...                                   ...   ...
WestTexNewMexico 2017-12-17  conventional  2017
                 2017-12-17       organic  2017
                 2017-12-24  conventional  2017
                 2017-12-24       organic  2017
                 2017-12-31  conventional  2017
                 2017-12-31       organic  2017
                 2018-01-07  conventional  2018
                 2018-01-07       organic  2018
                 2018-01-14  conventional  2018
                 2018-01-14       organic  2018
                 2018-01-21  conventional  2018
                 2018-01-21       organic  2018
                 2018-01-28  conventional  2018
                 2018-01-28       organic  2018
                 2018-02-04  conventional  2018
                 2018-02-04       organic  2018
                 2018-02-11  conventional  2018
                 2018-02-11       organic  2018
                 2018-02-18  conventional  2018
                 2018-02-18       organic  2018
                 2018-02-25  conventional  2018
                 2018-02-25       organic  2018
                 2018-03-04  conventional  2018
                 2018-03-04       organic  2018
                 2018-03-11  conventional  2018
                 2018-03-11       organic  2018
                 2018-03-18  conventional  2018
                 2018-03-18       organic  2018
                 2018-03-25  conventional  2018
                 2018-03-25       organic  2018

[18249 rows x 12 columns]

In [5]:
# Filtering the data to only orgnic values 

avocados= avocados[avocados['type']== 'organic']
avocados

                             Unnamed: 0  AveragePrice  Total Volume     4046  \
region           Date
Albany           2015-01-04          51          1.79       1373.95    57.42
                 2015-01-11          50          1.77       1182.56    39.00
                 2015-01-18          49          1.93       1118.47     8.02
                 2015-01-25          48          1.89       1115.89    14.87
                 2015-02-01          47          1.83       1228.51    33.12
                 2015-02-08          46          1.59       1770.87    27.36
                 2015-02-15          45          1.81       1182.30    22.74
                 2015-02-22          44          1.82       1152.33    11.34
                 2015-03-01          43          1.76       1663.35    32.82
                 2015-03-08          42          1.79       1626.32    49.73
                 2015-03-15          41          1.79       1473.56    19.18
                 2015-03-22          40          1.86       1375.02    40.57
                 2015-03-29          39          1.93       1082.44    24.75
                 2015-04-05          38          1.93       1526.10    15.75
                 2015-04-12          37          1.76       1634.59    51.75
                 2015-04-19          36          1.96       1516.24    18.01
                 2015-04-26          35          1.90        929.61    27.01
                 2015-05-03          34          2.03       1798.99    57.93
                 2015-05-10          33          1.98       2117.48    46.80
                 2015-05-17          32          1.87       1881.08    19.51
                 2015-05-24          31          1.93       1628.65    24.09
                 2015-05-31          30          1.90       1752.14    82.30
                 2015-06-07          29          1.93       1547.03    25.60
                 2015-06-14          28          2.03       1542.45    79.45
                 2015-06-21          27          2.09       1053.73    17.59
                 2015-06-28          26          2.02       1200.61    22.35
                 2015-07-05          25          2.04       1573.19    50.69
                 2015-07-12          24          2.01       1175.34    34.27
                 2015-07-19          23          2.08       1076.23    50.86
                 2015-07-26          22          2.01       1449.04    99.16
...                                 ...           ...           ...      ...
WestTexNewMexico 2017-09-03          17          2.39       7657.47   927.27
                 2017-09-10          16          2.38      11857.31  1562.10
                 2017-09-17          15          2.36      10464.29  1845.14
                 2017-09-24          14          2.26       9528.64  1545.34
                 2017-10-01          13          2.37       8873.32  1474.43
                 2017-10-08          12          2.39      10964.67  1952.20
                 2017-10-15          11          2.07       9575.81  1785.17
                 2017-10-22          10          1.81      15424.38  2207.98
                 2017-10-29           9          1.89      11952.28  1424.20
                 2017-11-05           8          1.74      12169.30  2012.76
                 2017-11-12           7          1.80      15670.44  1743.38
                 2017-11-19           6          1.88      14228.82  1771.38
                 2017-11-26           5          1.91      11191.35  2030.64
                 2017-12-03           4          1.55      13729.33  1768.49
                 2017-12-10           3          1.65      14628.70  1220.08
                 2017-12-17           2          1.78      15409.21  1314.05
                 2017-12-24           1          1.85      16740.76  1904.47
                 2017-12-31           0          1.62      16552.71  1909.33
                 2018-01-07          11          1.62      17489.58  2894.77
                 2018-01-14          10          1.93      16205.22  1527.63
                 2018-01-21           9          1.87      13766.76  1191.92
                 2018-01-28           8          1.71      13888.04  1191.70
                 2018-02-04           7          1.63      17074.83  2046.96
                 2018-02-11           6          1.57      15986.17  1924.28
                 2018-02-18           5          1.56      17597.12  1892.05
                 2018-02-25           4          1.57      18421.24  1974.26
                 2018-03-04           3          1.54      17393.30  1832.24
                 2018-03-11           2          1.56      22128.42  2162.67
                 2018-03-18           1          1.56      15896.38  2055.35
                 2018-03-25           0          1.62      15303.40  2325.30

                                4225    4770  Total Bags  Small Bags  \
region           Date
Albany           2015-01-04   153.88    0.00     1162.65     1162.65
                 2015-01-11   305.12    0.00      838.44      838.44
                 2015-01-18   178.78    0.00      931.67      931.67
                 2015-01-25   148.72    0.00      952.30      952.30
                 2015-02-01    99.36    0.00     1096.03     1096.03
                 2015-02-08   152.74    0.00     1590.77     1590.77
                 2015-02-15    83.02    0.00     1076.54     1076.54
                 2015-02-22    31.76    0.00     1109.23     1109.23
                 2015-03-01   105.25    0.00     1525.28     1525.28
                 2015-03-08   331.14    0.00     1245.45     1245.45
                 2015-03-15   164.73    0.00     1289.65     1289.65
                 2015-03-22   326.78    0.00     1007.67     1007.67
                 2015-03-29   173.26    0.00      884.43      884.43
                 2015-04-05   202.52    0.00     1307.83     1307.83
                 2015-04-12    93.38    0.00     1489.46     1489.46
                 2015-04-19   102.45    0.00     1395.78     1395.78
                 2015-04-26    30.53    0.00      872.07      872.07
                 2015-05-03   130.62    0.00     1610.44     1610.44
                 2015-05-10   523.90    0.00     1546.78     1546.78
                 2015-05-17   213.43    0.00     1648.14     1648.14
                 2015-05-24   183.55    0.00     1421.01     1421.01
                 2015-05-31   105.49    0.00     1564.35     1564.35
                 2015-06-07   125.66    0.00     1395.77     1395.77
                 2015-06-14   211.46    0.00     1251.54     1251.54
                 2015-06-21   107.87    0.00      928.27      928.27
                 2015-06-28   124.70    0.00     1053.56     1053.56
                 2015-07-05   183.90    0.00     1338.60     1338.60
                 2015-07-12    92.17    0.00     1048.90     1048.90
                 2015-07-19   112.36    0.00      913.01      913.01
                 2015-07-26   165.27    0.00     1184.61     1184.61
...                              ...     ...         ...         ...
WestTexNewMexico 2017-09-03  4056.73    0.00     2673.47     2629.18
                 2017-09-10  4565.41    0.00     5729.80     5719.96
                 2017-09-17  2819.17    0.00     5799.98     5796.65
                 2017-09-24  2234.23    0.00     5749.07     5722.40
                 2017-10-01  1689.97    0.00     5708.92     5639.42
                 2017-10-08  2235.24    0.00     6777.23     6542.72
                 2017-10-15   935.45    0.00     6855.19     6717.22
                 2017-10-22  3361.12   14.39     9840.89     9703.20
                 2017-10-29  1259.66    0.00     9268.42     9071.16
                 2017-11-05  1503.09    0.00     8653.45     8566.79
                 2017-11-12  2795.92    0.00    11131.14    10827.23
                 2017-11-19  2580.56    0.00     9876.88     9649.27
                 2017-11-26  2072.44    0.00     7088.27     7049.99
                 2017-12-03  2732.92    0.00     9227.92     9002.58
                 2017-12-10  2293.05    0.00    11115.57    10928.40
                 2017-12-17  2079.36    0.00    12015.80    11964.20
                 2017-12-24  2246.26    0.00    12590.03    12235.55
                 2017-12-31  3538.48   60.91    11043.99    10821.63
                 2018-01-07  2356.13  224.53    12014.15    11988.14
                 2018-01-14  2981.04  727.01    10969.54    10919.54
                 2018-01-21  2452.79  727.94     9394.11     9351.80
                 2018-01-28  3431.50    0.00     9264.84     8940.04
                 2018-02-04  1529.20    0.00    13498.67    13066.82
                 2018-02-11  1368.32    0.00    12693.57    12437.35
                 2018-02-18  1928.36    0.00    13776.71    13553.53
                 2018-02-25  2482.65    0.00    13964.33    13698.27
                 2018-03-04  1905.57    0.00    13655.49    13401.93
                 2018-03-11  3194.25    8.93    16762.57    16510.32
                 2018-03-18  1499.55    0.00    12341.48    12114.81
                 2018-03-25  2171.66    0.00    10806.44    10569.80

                             Large Bags  XLarge Bags     type  year
region           Date
Albany           2015-01-04        0.00         0.00  organic  2015
                 2015-01-11        0.00         0.00  organic  2015
                 2015-01-18        0.00         0.00  organic  2015
                 2015-01-25        0.00         0.00  organic  2015
                 2015-02-01        0.00         0.00  organic  2015
                 2015-02-08        0.00         0.00  organic  2015
                 2015-02-15        0.00         0.00  organic  2015
                 2015-02-22        0.00         0.00  organic  2015
                 2015-03-01        0.00         0.00  organic  2015
                 2015-03-08        0.00         0.00  organic  2015
                 2015-03-15        0.00         0.00  organic  2015
                 2015-03-22        0.00         0.00  organic  2015
                 2015-03-29        0.00         0.00  organic  2015
                 2015-04-05        0.00         0.00  organic  2015
                 2015-04-12        0.00         0.00  organic  2015
                 2015-04-19        0.00         0.00  organic  2015
                 2015-04-26        0.00         0.00  organic  2015
                 2015-05-03        0.00         0.00  organic  2015
                 2015-05-10        0.00         0.00  organic  2015
                 2015-05-17        0.00         0.00  organic  2015
                 2015-05-24        0.00         0.00  organic  2015
                 2015-05-31        0.00         0.00  organic  2015
                 2015-06-07        0.00         0.00  organic  2015
                 2015-06-14        0.00         0.00  organic  2015
                 2015-06-21        0.00         0.00  organic  2015
                 2015-06-28        0.00         0.00  organic  2015
                 2015-07-05        0.00         0.00  organic  2015
                 2015-07-12        0.00         0.00  organic  2015
                 2015-07-19        0.00         0.00  organic  2015
                 2015-07-26        0.00         0.00  organic  2015
...                                 ...          ...      ...   ...
WestTexNewMexico 2017-09-03       44.29         0.00  organic  2017
                 2017-09-10        9.84         0.00  organic  2017
                 2017-09-17        3.33         0.00  organic  2017
                 2017-09-24       26.67         0.00  organic  2017
                 2017-10-01       69.50         0.00  organic  2017
                 2017-10-08      234.51         0.00  organic  2017
                 2017-10-15      137.97         0.00  organic  2017
                 2017-10-22      137.69         0.00  organic  2017
                 2017-10-29      168.43        28.83  organic  2017
                 2017-11-05       86.66         0.00  organic  2017
                 2017-11-12      303.91         0.00  organic  2017
                 2017-11-19      227.61         0.00  organic  2017
                 2017-11-26       38.28         0.00  organic  2017
                 2017-12-03      225.34         0.00  organic  2017
                 2017-12-10      187.17         0.00  organic  2017
                 2017-12-17       51.60         0.00  organic  2017
                 2017-12-24      354.48         0.00  organic  2017
                 2017-12-31      222.36         0.00  organic  2017
                 2018-01-07       26.01         0.00  organic  2018
                 2018-01-14       50.00         0.00  organic  2018
                 2018-01-21       42.31         0.00  organic  2018
                 2018-01-28      324.80         0.00  organic  2018
                 2018-02-04      431.85         0.00  organic  2018
                 2018-02-11      256.22         0.00  organic  2018
                 2018-02-18      223.18         0.00  organic  2018
                 2018-02-25      266.06         0.00  organic  2018
                 2018-03-04      253.56         0.00  organic  2018
                 2018-03-11      252.25         0.00  organic  2018
                 2018-03-18      226.67         0.00  organic  2018
                 2018-03-25      236.64         0.00  organic  2018

[9123 rows x 12 columns]

In [6]:


#Apply the filter in the Index based on the value filds
# if can be done using the index.get_level_values 

avocados= avocados.loc[(avocados.index.get_level_values ('Date') > '2018-03-01')]
avocados

                                Unnamed: 0  AveragePrice  Total Volume  \
region              Date
Albany              2018-03-04           3          1.48       3851.30
                    2018-03-11           2          1.68       2570.52
                    2018-03-18           1          1.66       3154.45
                    2018-03-25           0          1.71       2321.82
Atlanta             2018-03-04           3          1.66      17082.00
                    2018-03-11           2          1.43      23042.99
                    2018-03-18           1          1.48      19014.68
                    2018-03-25           0          1.56      18717.08
BaltimoreWashington 2018-03-04           3          1.43      43300.77
                    2018-03-11           2          1.44      48044.77
                    2018-03-18           1          1.41      45505.00
                    2018-03-25           0          1.33      57606.42
Boise               2018-03-04           3          1.79       2980.60
                    2018-03-11           2          1.80       3447.36
                    2018-03-18           1          1.85       2550.59
                    2018-03-25           0          1.81       3119.20
Boston              2018-03-04           3          1.92      23890.64
                    2018-03-11           2          1.85      30476.66
                    2018-03-18           1          1.83      34809.90
                    2018-03-25           0          1.74      38441.23
BuffaloRochester    2018-03-04           3          1.38       8580.63
                    2018-03-11           2          1.24      12744.60
                    2018-03-18           1          1.17      16113.35
                    2018-03-25           0          1.03      38203.98
California          2018-03-04           3          1.57     239135.67
                    2018-03-11           2          1.58     236822.98
                    2018-03-18           1          1.75     202790.74
                    2018-03-25           0          1.70     190257.38
Charlotte           2018-03-04           3          1.88      11882.61
                    2018-03-11           2          1.73      13697.68
...                                    ...           ...           ...
Southeast           2018-03-18           1          1.43     119853.94
                    2018-03-25           0          1.45     121917.39
Spokane             2018-03-04           3          1.60       5305.01
                    2018-03-11           2          1.72       4790.07
                    2018-03-18           1          1.60       5793.89
                    2018-03-25           0          1.59       5750.56
StLouis             2018-03-04           3          1.76       6858.14
                    2018-03-11           2          1.71       8092.62
                    2018-03-18           1          1.80       7105.79
                    2018-03-25           0          1.82       8210.37
Syracuse            2018-03-04           3          1.42       3061.66
                    2018-03-11           2          1.25       4685.01
                    2018-03-18           1          1.19       6981.22
                    2018-03-25           0          1.04      14503.47
Tampa               2018-03-04           3          1.51       9851.33
                    2018-03-11           2          1.31       8115.07
                    2018-03-18           1          1.50      10311.24
                    2018-03-25           0          1.41      10028.49
TotalUS             2018-03-04           3          1.52    1634430.77
                    2018-03-11           2          1.52    1664234.88
                    2018-03-18           1          1.54    1675804.22
                    2018-03-25           0          1.55    1559967.20
West                2018-03-04           3          1.46     347373.17
                    2018-03-11           2          1.63     264691.87
                    2018-03-18           1          1.73     210067.47
                    2018-03-25           0          1.60     271723.08
WestTexNewMexico    2018-03-04           3          1.54      17393.30
                    2018-03-11           2          1.56      22128.42
                    2018-03-18           1          1.56      15896.38
                    2018-03-25           0          1.62      15303.40

                                     4046       4225     4770  Total Bags  \
region              Date
Albany              2018-03-04     311.55     296.77     0.00     3242.98
                    2018-03-11     131.67     229.56     0.00     2209.29
                    2018-03-18     275.89     297.96     0.00     2580.60
                    2018-03-25      42.95     272.41     0.00     2006.46
Atlanta             2018-03-04     597.40    5315.48     0.00    11169.12
                    2018-03-11     590.29    5224.55     0.00    17228.15
                    2018-03-18     626.28    5411.88     0.00    12976.52
                    2018-03-25     469.23    3942.82     0.00    14305.03
BaltimoreWashington 2018-03-04    2360.20    6371.68    93.52    34475.37
                    2018-03-11    1885.84    6874.81    96.69    39187.43
                    2018-03-18    2132.20    6130.50    76.41    37165.89
                    2018-03-25    2002.40    5548.18    82.68    49973.16
Boise               2018-03-04     109.72     904.11     0.00     1966.77
                    2018-03-11      98.90     926.28     0.00     2422.18
                    2018-03-18      89.14     898.36     0.00     1563.09
                    2018-03-25      76.12    1006.43     0.00     2036.65
Boston              2018-03-04       7.84    2254.05     0.00    21628.75
                    2018-03-11       8.51    2114.28     0.00    28353.87
                    2018-03-18      20.31    2456.48     0.00    32333.11
                    2018-03-25      27.25    2031.54     0.00    36382.44
BuffaloRochester    2018-03-04    1197.38     159.65     0.00     7223.60
                    2018-03-11     763.90      91.20     0.00    11889.50
                    2018-03-18     558.54     106.27     0.00    15448.54
                    2018-03-25     241.71     425.31     0.00    37536.96
California          2018-03-04   34245.39   67952.25     0.00   136938.03
                    2018-03-11   32765.76   83573.00     0.00   120484.22
                    2018-03-18   29398.11   70514.05     8.08   102870.50
                    2018-03-25   29644.09   70982.10     0.00    89631.19
Charlotte           2018-03-04      31.41    6586.88   268.25     4996.07
                    2018-03-11      29.01    6861.78   222.69     6584.20
...                                   ...        ...      ...         ...
Southeast           2018-03-18    2557.74   20398.98   133.09    96764.13
                    2018-03-25    1929.39   18391.86   110.05   101486.09
Spokane             2018-03-04     461.71    2076.61     0.00     2766.69
                    2018-03-11     307.23    1845.22     0.00     2637.62
                    2018-03-18     242.52    1753.53     0.00     3797.84
                    2018-03-25     266.92    1707.42     2.21     3774.01
StLouis             2018-03-04     982.72    2294.52     0.00     3580.90
                    2018-03-11    1127.67    2916.23     0.00     4048.72
                    2018-03-18    1052.26    2821.98     7.09     3224.46
                    2018-03-25    1426.49    2452.50     0.00     4331.38
Syracuse            2018-03-04     395.14      89.31     0.00     2577.21
                    2018-03-11     168.95      61.01     0.00     4455.05
                    2018-03-18     162.32      87.87     0.00     6731.03
                    2018-03-25      78.95     148.37     0.00    14276.15
Tampa               2018-03-04     223.68     839.86     0.00     8787.79
                    2018-03-11     101.14     392.38     0.00     7621.55
                    2018-03-18     190.28     901.77     0.00     9219.19
                    2018-03-25     138.15     773.22     0.00     9117.12
TotalUS             2018-03-04  142345.03  390129.50  1225.97  1099871.68
                    2018-03-11  129169.72  408763.50  1401.87  1124621.50
                    2018-03-18  170801.85  444949.69  1045.38  1058651.50
                    2018-03-25  121007.94  342853.10  1070.24  1093861.09
West                2018-03-04   25990.60   71213.19    79.01   250090.37
                    2018-03-11   27566.25   60383.57   276.42   176465.63
                    2018-03-18   33437.98   47165.54   110.40   129353.55
                    2018-03-25   26996.28   77861.39   117.56   166747.85
WestTexNewMexico    2018-03-04    1832.24    1905.57     0.00    13655.49
                    2018-03-11    2162.67    3194.25     8.93    16762.57
                    2018-03-18    2055.35    1499.55     0.00    12341.48
                    2018-03-25    2325.30    2171.66     0.00    10806.44

                                Small Bags  Large Bags  XLarge Bags     type  \
region              Date
Albany              2018-03-04     3239.65        3.33         0.00  organic
                    2018-03-11     2209.29        0.00         0.00  organic
                    2018-03-18     2577.27        3.33         0.00  organic
                    2018-03-25     1996.46       10.00         0.00  organic
Atlanta             2018-03-04     9691.97     1477.15         0.00  organic
                    2018-03-11    16438.54      789.61         0.00  organic
                    2018-03-18     9134.72     3841.80         0.00  organic
                    2018-03-25     9398.45     4906.58         0.00  organic
BaltimoreWashington 2018-03-04    34475.37        0.00         0.00  organic
                    2018-03-11    39177.43       10.00         0.00  organic
                    2018-03-18    37157.40        8.49         0.00  organic
                    2018-03-25    49957.61       15.55         0.00  organic
Boise               2018-03-04      526.56     1440.21         0.00  organic
                    2018-03-11      664.03     1758.15         0.00  organic
                    2018-03-18      287.90     1258.17        17.02  organic
                    2018-03-25      618.64     1418.01         0.00  organic
Boston              2018-03-04    18636.40     2992.35         0.00  organic
                    2018-03-11    22732.95     5620.92         0.00  organic
                    2018-03-18    25094.65     7238.46         0.00  organic
                    2018-03-25    29466.95     6915.49         0.00  organic
BuffaloRochester    2018-03-04      894.23     6329.37         0.00  organic
                    2018-03-11     1124.44    10765.06         0.00  organic
                    2018-03-18     4270.87    11177.67         0.00  organic
                    2018-03-25    25743.24    11793.72         0.00  organic
California          2018-03-04   136877.43       60.60         0.00  organic
                    2018-03-11   120465.39       18.83         0.00  organic
                    2018-03-18   102717.50      153.00         0.00  organic
                    2018-03-25    89424.11      207.08         0.00  organic
Charlotte           2018-03-04     4621.84      374.23         0.00  organic
                    2018-03-11     6511.53       72.67         0.00  organic
...                                    ...         ...          ...      ...
Southeast           2018-03-18    82917.28    13846.85         0.00  organic
                    2018-03-25    85313.41    16172.68         0.00  organic
Spokane             2018-03-04      755.97     2010.72         0.00  organic
                    2018-03-11     1042.98     1594.64         0.00  organic
                    2018-03-18      837.78     2947.85        12.21  organic
                    2018-03-25      638.89     3105.71        29.41  organic
StLouis             2018-03-04     3054.45      526.45         0.00  organic
                    2018-03-11     4022.23       26.49         0.00  organic
                    2018-03-18     3207.79       16.67         0.00  organic
                    2018-03-25     3427.78      903.60         0.00  organic
Syracuse            2018-03-04      721.50     1855.71         0.00  organic
                    2018-03-11      775.90     3679.15         0.00  organic
                    2018-03-18     2782.91     3948.12         0.00  organic
                    2018-03-25     9992.31     4283.84         0.00  organic
Tampa               2018-03-04     7327.76     1460.03         0.00  organic
                    2018-03-11     7494.08      127.47         0.00  organic
                    2018-03-18     7687.03     1532.16         0.00  organic
                    2018-03-25     8208.82      908.30         0.00  organic
TotalUS             2018-03-04   831885.50   267818.31       167.87  organic
                    2018-03-11   944572.50   180049.00         0.00  organic
                    2018-03-18   837351.85   221129.46       170.19  organic
                    2018-03-25   902774.79   190941.84       144.46  organic
West                2018-03-04    85835.17   164087.33       167.87  organic
                    2018-03-11   107174.93    69290.70         0.00  organic
                    2018-03-18    73163.12    56020.24       170.19  organic
                    2018-03-25    87108.00    79495.39       144.46  organic
WestTexNewMexico    2018-03-04    13401.93      253.56         0.00  organic
                    2018-03-11    16510.32      252.25         0.00  organic
                    2018-03-18    12114.81      226.67         0.00  organic
                    2018-03-25    10569.80      236.64         0.00  organic

                                year
region              Date
Albany              2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Atlanta             2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
BaltimoreWashington 2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Boise               2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Boston              2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
BuffaloRochester    2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
California          2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Charlotte           2018-03-04  2018
                    2018-03-11  2018
...                              ...
Southeast           2018-03-18  2018
                    2018-03-25  2018
Spokane             2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
StLouis             2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Syracuse            2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
Tampa               2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
TotalUS             2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
West                2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018
WestTexNewMexico    2018-03-04  2018
                    2018-03-11  2018
                    2018-03-18  2018
                    2018-03-25  2018

[216 rows x 12 columns]

In [7]:
'''THe index of this data frame is a multIndex due to the amount of indexes'''

avocados.index

MultiIndex(levels=[['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston', 'BuffaloRochester', 'California', 'Charlotte', 'Chicago', 'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver', 'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton', 'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville', 'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale', 'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork', 'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia', 'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland', 'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento', 'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina', 'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse', 'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], ['2015-01-04', '2015-01-11', '2015-01-18', '2015-01-25', '2015-02-01', '2015-02-08', '2015-02-15', '2015-02-22', '2015-03-01', '2015-03-08', '2015-03-15', '2015-03-22', '2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19', '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17', '2015-05-24', '2015-05-31', '2015-06-07', '2015-06-14', '2015-06-21', '2015-06-28', '2015-07-05', '2015-07-12', '2015-07-19', '2015-07-26', '2015-08-02', '2015-08-09', '2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06', '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04', '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01', '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29', '2015-12-06', '2015-12-13', '2015-12-20', '2015-12-27', '2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24', '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21', '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20', '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17', '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15', '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10', '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07', '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04', '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02', '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30', '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27', '2016-12-04', '2016-12-11', '2016-12-18', '2016-12-25', '2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22', '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19', '2017-02-26', '2017-03-05', '2017-03-12', '2017-03-19', '2017-03-26', '2017-04-02', '2017-04-09', '2017-04-16', '2017-04-23', '2017-04-30', '2017-05-07', '2017-05-14', '2017-05-21', '2017-05-28', '2017-06-04', '2017-06-11', '2017-06-18', '2017-06-25', '2017-07-02', '2017-07-09', '2017-07-16', '2017-07-23', '2017-07-30', '2017-08-06', '2017-08-13', '2017-08-20', '2017-08-27', '2017-09-03', '2017-09-10', '2017-09-17', '2017-09-24', '2017-10-01', '2017-10-08', '2017-10-15', '2017-10-22', '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19', '2017-11-26', '2017-12-03', '2017-12-10', '2017-12-17', '2017-12-24', '2017-12-31', '2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28', '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25', '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 15, 15, 15, 15, 16, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18, 19, 19, 19, 19, 20, 20, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 26, 27, 27, 27, 27, 28, 28, 28, 28, 29, 29, 29, 29, 30, 30, 30, 30, 31, 31, 31, 31, 32, 32, 32, 32, 33, 33, 33, 33, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 36, 36, 37, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 40, 40, 40, 40, 41, 41, 41, 41, 42, 42, 42, 42, 43, 43, 43, 43, 44, 44, 44, 44, 45, 45, 45, 45, 46, 46, 46, 46, 47, 47, 47, 47, 48, 48, 48, 48, 49, 49, 49, 49, 50, 50, 50, 50, 51, 51, 51, 51, 52, 52, 52, 52, 53, 53, 53, 53], [165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168]],
           names=['region', 'Date'])

In [12]:
avoca = pd.read_csv('DataSets/avocado.csv')

avocados_totalUS = avoca[(avoca['region'] == 'TotalUS') & 
                            (avoca['Date'] > '2018-01-01')]
avocados_totalUS


avocados_pivot = avocados_totalUS.pivot(index = 'Date', # this will be the rows unique
                                        columns = 'type',  # will show the values of the variable as columns
                                        values = 'AveragePrice') # will fill the table with those values. 

avocados_pivot

type        conventional  organic
Date
2018-01-07          1.13     1.51
2018-01-14          1.20     1.59
2018-01-21          1.08     1.63
2018-01-28          1.09     1.61
2018-02-04          0.87     1.53
2018-02-11          0.97     1.56
2018-02-18          1.08     1.52
2018-02-25          1.06     1.57
2018-03-04          1.07     1.52
2018-03-11          1.09     1.52
2018-03-18          1.05     1.54
2018-03-25          1.03     1.55

In [13]:
#Stack operation 

#Stacks the content of a single row into multiple rows. 
# in this cass

avocados_stack = avocados_pivot.stack()
avocados_stack

Date        type
2018-01-07  conventional    1.13
            organic         1.51
2018-01-14  conventional    1.20
            organic         1.59
2018-01-21  conventional    1.08
            organic         1.63
2018-01-28  conventional    1.09
            organic         1.61
2018-02-04  conventional    0.87
            organic         1.53
2018-02-11  conventional    0.97
            organic         1.56
2018-02-18  conventional    1.08
            organic         1.52
2018-02-25  conventional    1.06
            organic         1.57
2018-03-04  conventional    1.07
            organic         1.52
2018-03-11  conventional    1.09
            organic         1.52
2018-03-18  conventional    1.05
            organic         1.54
2018-03-25  conventional    1.03
            organic         1.55
dtype: float64